<Package
	xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
	xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
	xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
	IgnorableNamespaces="uap rescap">

	<Identity Name="Elapsed"/>

	<Properties >
		<Logo>Assets\AppTiles\Stable\PackageLogo.png</Logo>
		<PublisherDisplayName>Hackclub</PublisherDisplayName>
		<DisplayName>Elapsed</DisplayName>
	</Properties >

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
			Executable="$targetnametoken$.exe"
			EntryPoint="$targetentrypoint$">
			<uap:VisualElements	Square150x150Logo="Assets\AppTiles\Stable\MediumTile.png" Square44x44Logo="Assets\AppTiles\Stable\AppIcon.png" DisplayName="Elapsed">
				<uap:DefaultTile Square71x71Logo="Assets\AppTiles\Stable\SmallTile.png" Wide310x150Logo="Assets\AppTiles\Stable\WideTile.png" Square310x310Logo="Assets\AppTiles\Stable\LargeTile.png"/>
				<uap:SplashScreen Image="Assets\AppTiles\Stable\SplashScreen.png"/>
			</uap:VisualElements >
			<Extensions>
			<uap:Extension Category="windows.protocol">
				<uap:Protocol Name="myprotocol">
					<uap:DisplayName>MyProtocol</uap:DisplayName>
				</uap:Protocol>
			</uap:Extension>
		</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>
</Package>
